h1.titleLogin {
  text-align: center;
  margin-bottom: 40px; /* Adjust margin as needed */
  margin-top: 300px; /* Add margin to push h1 to the top */
}

h1.titleCreateAccount {
  text-align: center;
  margin-bottom: 40px; /* Adjust margin as needed */
  margin-top: 200px; /* Add margin to push h1 to the top */
}

body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

form {
  display: flex;
  flex-direction: column;
}

label {
  margin-top: 10px;
}

input {
  margin-bottom: 10px;
  padding: 8px;
}

button {
  padding: 10px;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}
