/* Color Palette 
    #596869
    #6C8976
    #97B791
    #ABD1B5
    #E6EFE6
*/

* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #E6EFE6;
}

header {
    background-color: #6C8976;
    text-align: center;
    font-size: 35px;
    color: white;
    padding: 5px;
    height: 150px;
}

/* Welcome Message + Sign Out */

.navBar {
    overflow: hidden;
    background-color: #596869;
    justify-content: space-between;
    align-items: center;
    display: flex;
}
.iconContainer {
  display: flex;
  flex-direction: column;
  margin-right: 10px;
  width: 35px;
}
#bar1, #bar2, #bar3 {
    width: 25px;
    height: 3px;
    background-color: black;
    margin-bottom: 5px;
}
.drop {
    position: relative;
    display: inline-block;
}
.dropContent {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    width: 100%;
    bottom: -100%;
    overflow: auto;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}
.drop:hover .dropContent {
    display: block;
    background-color: #E6EFE6;
    color: black;
    text-align: center;
}

/* Main Dashboard Area */
#sideBar {
    float: right;
    width: 30%;
    height: 1000px;
    background: #79B791;
    padding: 20px;
    text-align: center;
}
#passwordContainer {
    border-radius: 6px;
    border-color: #596869;
}

#copyButton {
    width: 10%;
    background-color: #E6EFE6; 
    color: black;
    border: none;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 6px;
}
#copyButton:hover{
    background-color: #596869;
    color: white;
}

.specialCharacters {
    margin-top: 10px;
    margin-bottom: 8px;
    accent-color: #596869;
}
.uppercase, .lowercase, .numbers {
    margin-right: 55px;
    margin-bottom: 8px;
    accent-color: #596869;
}


#accountsDash {
    float: left;
    width: 70%;
    height: 100%;
    text-align: center;
    color: #333;
}

#addAccountButton, #clearButton, #generatePasswordButton, #editFormSubmitButton {
    margin-top: 8px;
    border-radius: 6px;
    border: none;
    height: 30px;
    background-color: white;
}
.editButton, .deleteButton {
    height: 20px;
    width: 60px;
    border-radius: 6px;
    border: none;
    height: 30px;
    background-color: white;
}
#editFormSubmitButton {
    margin-top: 15px;
    width: 200px;
}
#generatePasswordButton {
    width: 200px;
}
#addAccountButton, #clearButton {
    width: 150px;
    margin-bottom: 20px;
    margin-top: 15px;
}
#addAccountButton:hover, #clearButton:hover, #generatePasswordButton:hover, #editFormSubmitButton:hover, .editButton:hover, .deleteButton:hover {
    background-color: #596869;
    color: white;
}
#websiteInputId, #usernameInputId, #passwordInputId, #editWebsiteInput, #editUsernameInput, #editPasswordInput {
    border-radius: 6px;
    border: none;
    height: 30px;
}
#websiteInputId, #usernameInputId, #passwordInputId {
    margin-top: 10px;
}
#editWebsiteInput, #editUsernameInput, #editPasswordInput {
    margin-right: 10px;
    margin-top: 15px;
}
#editForm {
    text-align: center;
    padding-top: 20px;
}


/* Added CSS for the table elements */
.resultsTable {
    border-collapse: collapse;
    width: 80%;
    margin-top: 5%;
  }
  
.resultsTable th, .resultsTable td {
    border: 1px solid #596869; /* Border color */
    padding: 8px;
    text-align: left;
}
  
.resultsTable th {
    background-color: #f2f2f2; /* Header background color */
}

td button {
    display: block;
    margin: auto;
}
  
.resultsTable tr:nth-child(even) {
    background-color: #f9f9f9; /* Alternating row background color */
}

table {
    margin: 0 auto;
}

#userFirstName {
    text-align: center;
    margin-left: 2%;
    font-size: 15px;
}

#passwordContainer {
    background-color: white;
}

.hasInnerHTML {
    border: solid black;
}

#passwordLength {
    accent-color: #596869;
    border-radius: 8px;
}
